body {
    background: url("images/pic01.jpg") no-repeat;
    background-width:100%;
}

.message {
  text-align: center;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
}

p {
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: x-large;
}

a { 
   text-decoration: none;
   color: #00CED1;
}